.allblog {
    width: 1170px;
    margin: 0 auto;

    .title {
        margin-top: 10px;
        border-bottom: 1px solid #bfbfbf;
        font-size: 14px;

        .n1 {
            width: 100px;
            display: block;
            line-height: 40px;
            text-align: center;
            float: left;
            color: #fff;
            background: #3a6ab5;
        }

        .n2 {
            display: block;
            line-height: 40px;
            text-align: center;
            float: right;
            color: #000;
        }
    }

    .titlebox {
        background: #fff;
        margin-top: 20px;
        min-height: 670px;
        padding: 10px;
        ul{
            margin-left: 20px;
        }
        li{
            margin: 5px 20px;
            list-style:disc;    
            // width: 100%;
            // background: #ccc;
            cursor: pointer;
            text-decoration: underline;
        } 
       
    }
}