.blogs {
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFF;
    -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    margin-top: 20px;
    list-style: none;

    .blogtitle {
        margin: 0 0 10px 0;
        font-size: 20px;
        overflow: hidden;
        cursor: pointer;
        color: #555555;

        &:hover {
            color: #337ab7;
        }

    }

    .blogtext {
        font-size: 14px;
        color: #566573;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        margin-top: 20px;
    }

    .blogpic {
        float: left;
        width: 30%;
        max-height: 170px;
        margin-right: 20px;
        display: block;
        overflow: hidden;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
            -webkit-transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            transition: all 0.6s ease;
            margin-bottom: 10px;

            &:hover {
                transform: scale(1.1)
            }

        }
    }

    .bloginfo {
        overflow: hidden;
        margin-top: 30px;

        li {
            float: left;
            font-size: 12px;
            padding: 0 0 0 20px;
            margin: 0 15px 0 0;
            color: #748594;
            line-height: 1.5;
            // display: inline-block;

            a {
                color: #748594;

                &：hover {
                    color: #000;
                }
            }
        }

        .author {
            background: url(../assets/images/auicon.jpg) no-repeat 0 0
        }

        .lmname {
            background: url(../assets/images/auicon.jpg) no-repeat top -23px left;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }

        .timer {
            background: url(../assets/images/auicon.jpg) no-repeat top -44px left;
        }

        .view {
            background: url(../assets/images/auicon.jpg) no-repeat top -64px left;
        }

        .like {
            background: url(../assets/images/auicon.jpg) no-repeat top -85px left;
        }
    }

}