.el-container{
    .el-header{
        background: #000;
        padding: 0;
        .nav{
            width: 1170px;
            height: 60px;
            margin: 0 auto;
            
            .logo{
                display:block;
                color: #00A7EB;
                font-size: 26px;
                margin-right: 80px;
                float:left;
                line-height: 60px;
            }
            ul{
                float: left;
                line-height: 60px;
                li{
                    display:inline-block;
                    height: 60px;
                    padding: 0 20px;
                    color: #BDBDBD;
                    font:15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
                    &.router-link-active{
                        color: #00A7EB;
                    }
                    &:hover{
                        color: #ffffff;
                        cursor: pointer;
                    }
                }
            }
            .search-bar{
                float: right;
                line-height: 60px;
                .el-input{
                    width: 220px;
                    margin-right: 20px;
                    .el-input__inner{
                        height: 30px;
                    }
                }
                .search{
                    display: inline-block;
                    color: #ffffff;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .el-main{
        padding: 0;
        margin: 20px 0;
        .view{
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }
    .el-footer{
        height:160px!important;
        .endnav{
            margin: 0px auto;
            margin-bottom:20px; 
            width: 1170px;
            p{
                width: 1170px;
                a{
                    color: #BDBDBD;
                    text-decoration: none;
                }
            }
            b {
                font-size: 16px;
                color: #00c1de;
            }
        }
        
        background: #373D41;
        width: 100%;
        border-top: #00C1DE 10px solid;
        padding: 30px 0;
        color: #73777a;
        font-size: 14px;
    }
}
