.index-content {
    width: 1170px;
    margin: 0 auto;
    .picbox {
        height: 450px;
        .el-carousel{
            img{
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
        .top-pics {
            .top-pic {
                width: 100%;
                height: 215px;
                background: #000;
                overflow: hidden;
                display: block;
                clear: both;
                position: relative;
                &:last-child {
                    margin-top: 20px;
                }
                i{
                    width:100%;
                    height:100%;
                    display: block;
                    background: #000;
                    img {
                        opacity: 0.6;
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s ease;
                    }
                }
                p {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 10px 20px;
                    font-size: 15px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    background: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    cursor: pointer;
                    
                }
                &:hover img{
                    opacity: 0.9;
                }
            }


        }
    }

}